.fon {
    background-color: #FBE4FF;
    margin: 0;
}

.header {
    position: relative;
    display: flex;
    width: 1920px;
    height: 65px;
    background-color: #243B93;
    text-align: center;
}

.navigate {
    box-sizing: border-box;
    display: flex;
}

.logo {
    margin: 7px 158px 8px 299px;
}

.menu {
    margin: auto 0px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 16%;
    font-family: sans-serif;
}

.li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.globus {
    width: 55px;
    height: 50px;
    margin: 7px 9px 8px 57px;
}

.ua {
    font-size: 28px;
    font-weight: 700;
    font-family: sans-serif;
    padding: 20px 0px 20px 9px;
    color: #FFFFFF;
}

.bron {
    width: 1920px;
    height: 85px;
    background-color: #BFF0FF;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    font-family: sans-serif;
    color: #202846;
}

.bron__margin {
    margin: 0px 1100px 0px 299px;
    padding-top: 20px;
}

.select {
    width: 1321px;
    height: 57px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    font-family: sans-serif;
    margin: 27px auto 0;
    color: #0000009C;
}

.select__padding {
    padding-top: 10px;
}

.card {
    position: relative;
    display: flex;
    width: 1321px;
    height: 300px;
    background: linear-gradient(45deg, #ADCBD4A1, #00AEE5A1);
    margin: 30px auto;
}

.card__img {
    padding: 20px 0px 21px 52px;
}

.title {
    border-bottom: 3px solid #FFFFFF;
    width: 739px;
    margin: 15px 30px;

}

.title__text {
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    font-family: sans-serif;
    color: #353C57;
}

.card__text {
    width: 739px;
    height: 205px;
    background-color: #FFFFFF;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 28px;
    padding: 10px 71px 85px 16px;
    box-sizing: border-box;
    margin: 10px 53px 21px 30px;
}

.btn {
    box-sizing: border-box;
    position: absolute;
    top: 243px;
    left: 1144px;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    background-color: #243B93;
    text-align: center;
    padding: 7px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.star {
    position: absolute;
    margin: 6px 10px 248px 1263px;
    background-image: url(../img/star.svg);
    width: 48px;
    height: 46px;
}

.card:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    transition: 0.3s;
}

.star:hover {
    transition: 0.3s;
    background-image: url(../img/star2.svg);
}

.card :hover>.btn {
    background: #EF075B;
    transition: 0.3s;
}

#fixed-div {
    position: absolute;
    width: 101px;
    height: 101px;
    margin: -160px 0px 86px 1700px;
}

#fixed-div :hover {

    transition: 0.3s;
    background-image: url(../img/кнопка\ вверх.svg);
    background-repeat: no-repeat
}